<h2>Your Astrology Houses</h2>
<table>
    <thead>
        <tr>
            <th>Planet</th>
            <th>House</th>
            <th>Planet Information & Sun Constellation</th>
        </tr>
    </thead>
    <tbody>
        {{#each celestialBodiesInfo}}
        <tr>
            <td class="houseTableContent">{{cellData.house}}</td>

            <td class="houseTableContent flex-center">
                {{name}}<br><img src="/images/celestial_bodies/{{id}}.png" alt="{{name}}" width="50"></td>
            <td class="houseTableContent">
                <table class="inner-info-table">
                    <tr>
                        <td class="planet-name">{{name}}</td>
                    </tr>
                    <tr>
                        <td class="planet-info">
                            Date: {{cellData.date}}<br>
                            Altitude: {{cellData.altitude}}<br>
                            Azimuth: {{cellData.azimuth}}<br>
                            Distance AU: {{cellData.distanceAU}}<br>
                            Distance KM: {{cellData.distanceKM}}<br>
                            Declination: {{cellData.declination}}<br>
                            Right Ascension: {{cellData.rightAscension}}<br>
                            Constellation: {{cellData.constellationName}} ({{cellData.constellationShort}})<br>
                            Magnitude: {{cellData.magnitude}}<br>
                            House: {{cellData.house}}
                        </td>
                    </tr>
                </table>
            </td>

        </tr>
        {{/each}}
    </tbody>
</table>