<div class="background">
    <div class="aspect">
        <form action="/astrology/get-aspect-description" method="post">
            <label for="body1">Select First Body:</label>
            <select name="body1" id="body1">
                {{#each celestialBodies}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>

            <label for="body2">Select Second Body:</label>
            <select name="body2" id="body2">
                {{#each celestialBodies}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>

            <label for="aspect">Select Aspect:</label>
            <select name="aspect" id="aspect">
                {{#each aspects}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>

            <input type="submit" value="Get Description">
        </form>
    </div>
</div>
<script src="/js/helpers/explore-aspects.js"></script>