<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Submission</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <div class="generateBirthChart">
        <h1>Your Astrology Chart</h1>

        <div class="info-section">

            <!-- Image Column -->
            <div class="image-column">
                <table class="inner-glow-table">
                    <tr>
                        <td>
                            <img src="/images/celestial_bodies/{{id}}.png" alt="{{name}}" width="50">
                        </td>
                    </tr>
                </table>
            </div>

            <!-- Display basic celestial information -->
            <div class="left-column">
                <table class="inner-glow-table">
                    <tr>
                        <td>
                            <h2>Basic Celestial Information</h2>
                            <p><strong>LST:</strong> {{LST}}</p>
                            <p><strong>Ascendant:</strong> {{ascendant}}</p>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- Display house cusps -->
            <div class="right-column">
                <table class="inner-glow-table">
                    <tr>
                        <td>
                            <h2>House Cusps</h2>
                            <ul>
                                {{#each houseCusps}}
                                <li>{{this}}</li>
                                {{/each}}
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>



        <!-- Display celestial bodies' information -->
        {{> celestialBodiesInfo}}

        <!-- Display valid astrology aspects -->
        {{> aspects}}
    </div>

</body>

</html>