{{subheader}}
<div class="zodiacSign">
    {{#if zodiacSignData}}
    <h2>{{zodiacSignData.sign}}</h2>
    <img src="{{zodiacSignData.imageUrl}}" alt="{{zodiacSignData.sign}}">
    <p>Dates: {{zodiacSignData.dates}}</p>
    <p>Description: {{zodiacSignData.sign_meaning}}</p>
    {{/if}}
</div>
<script src="/js/zodiacSign.js"></script>